# data structures

In [3]:
#string 
"""colletion of data or info with in double quotes or single quorts"""
s="welcome"
type(s)

str

In [4]:
#forword index(0 to n)
s="srikanth"
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])

s
r
i
k
a
n
t
h

In [7]:
#backword index
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(s[-7])
print(s[-8])

h
t
n
a
k
i
r
s

delecting a string is "del"

In [9]:
s="hai there and welcome"
s[15:20]

'elcom'

In [10]:
s="hai there and welcome"
s[0:12]

'hai there an'

In [12]:
#check for palindrome
s=input()
if s==s[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

pop
palindrome

# string methods

In [13]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [15]:
#capitalize---->convert the first letter of the string to capital if lower case else it return as it is

In [18]:
s="bum digi digi bum bum"
s.capitalize()

'Bum digi bum bum'

In [19]:
#title----->convert the first letter in every word to capitalize
s="he so cute"
s.title()

'He So Cute'

In [24]:
#upper --->convert the lower case to upper case letters
s="aa dil ke muskhil"
s.upper()

'AA DIL KE MUSKHIL'

In [22]:
#casefold--->convert to lower case
s="jai ma sri ganesha"
s.casefold()

'jai ma sri ganesha'

In [23]:
#center--->centrilise the given string using size statically
s="srikanth"
s.center(10)
#if size is more it cuts the letters else it add the spaces

' srikanth '

In [25]:
#swapcase --->will convert the lower case to upper case and upper case to lower case
s="Hum He Ho"
s.swapcase()

'TUM HE HO'

In [27]:
#startswith--->check if the function is starting with thatspecific letter or not
s="i'm  an amigo"
s.startswith("i'm")

True

In [28]:
#isalpha--->will take only alphabets without numerics and spaces
s="bekhayale"
s.isalpha()

True

In [29]:
#isnumeric--->will take only numbers
s="23353"
s.isnumeric()

True

In [8]:
d=input()
j=""
z=""
for i in d:
    if i.isalpha():
        j=j+i
    else:
        k=k+i
print(j)
print(z)

dsamdjv53
dsamdjv
53

In [3]:
g=input()
k=""
r=""
p=""
m=""
cnt=0
cnt1=0
cnt2=0
cnt3=0
cnt4=0
for i in g:
    if i.isalpha():
        m=m+i
for i in g:
    if i.isupper():
        k=k+i
        cnt=cnt+1
    elif i.islower():
        p=p+i
        cnt1=cnt1+1
    elif i.isnumeric():
        cnt2=cnt2+1
        r=r+i
        cnt4=cnt4+int(i)
    else:
        cnt3=cnt3+1
print("number of alphabets",m)        
print("upper letters are:",k,"count of upper latter:",cnt)        
print("lower letters are:",p,"count of lower letters are :",cnt1)
print("digits are:",r,"count of digits are:",cnt2,"sum of digits:",cnt4)
print("space count are",cnt3)

 SriK123anth is 124 BAD boY
SriKanthisBADboY
SKBADY 6
rianthisbo 10
123124 6 sum 13
5

In [4]:
#count--->will count the given character
s="wfrwaisurfndbcyweu"
s.count("w")

3

In [5]:
#strip--->remove the spaces
#lstrip---->remove sapce on left side 
#rstrip
#expandtabs---->add spaces to the string at \t position
#zfil--->made center the word then add z on spaces on spaces -->likely to be center function

In [ ]:
"{} {}".format(value,value)
g= int(input())
for i in range(1,11):
    print("{} {} {} {} {}".format(g,"x",i,"=",g*i))

In [12]:
#index method-->finds the index of first existing character
s="help"
print(s.index("e"))
#rindex will check the last existing index of character

1

In [13]:
#join()-->will join the given character to a variable one character after other
s="python"
print("a".join(s))

payatahaoan

In [14]:
#split function--->will split at spaces and added to list format
s= "mahesh is virat fan"
s1=s.split()

['mahesh', 'is', 'virat', 'fan']

In [3]:
s= "mahesh is virat fan"
s1=s.split()
s1[0][1]

'a'

In [ ]:
# n="apssdc PYTHON prOGrAMiNG vignans lara"
k=n.split()
for i in k:
    if i==0:
        print(i.captalize())
    elif i=="PYTHON" or i=="LARA":
        print(i.casefold())
    elif(i=="vignans"):
        print("vignans")
    else:
        print(i.swapcase())

In [15]:
n=input()
k=n.split()
print("{}.{}".format(k[0][0],k[1]))

yepalagunta srikanth
y.srikanth

# data structures

list 
it is a collection data,denoted by square brackets and separated by a comma

In [16]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [17]:
l=[]
l.append(1)
print(l)

[1]

In [21]:
k=[]
for i in range(1,11):
    k.append(i)
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l=[]
for i in range(1,51):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [23]:
l=[]
for i in range(5,50):
    if i %5==0:
        l.append(i)
    if i%7==0:
        l.append(i)
print(l)

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 35, 40, 42, 45, 49]

In [33]:
l=[]
k=[]
rang=['A','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
for i in rang:
    l.append(ord(i))
for i in l:
    if i%2==0:
        k.append(i)
print(k)

[68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90]

# tuple

list is also a collection of data which is indicated by curley braces separated by comma

In [34]:
#count-->will count the repeated elements 
#max()--->will displat maximum elements
#min()--->will display minimum element

In [35]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [1]:
t=(2,2,4,3,5,8,6,4,9,1)
s=list(map(lambda a:a**2,t))
print(s)
tuple(s)
print(s.index(max(s)),max(s))
print(s.index(min(s)),min(s))

[4, 4, 16, 9, 25, 64, 36, 16, 81, 1]
8 81
9 1

In [3]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
d={1:"2",2:"3",3:"4",4:"5"}
print(d.keys())
print(d.values())
print(d.items())

dict_keys([1, 2, 3, 4])
dict_values(['2', '3', '4', '5'])
dict_items([(1, '2'), (2, '3'), (3, '4'), (4, '5')])

In [8]:
d.get(1)#call values using keys

'2'

In [10]:
d[6]="duck"